<!DOCTYPE html>
{% include 'navbar.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        .container {
      background-color: gainsboro;
      padding-top:100px;
      padding-bottom:100px;
    </style>
    <title>Title</title>
</head>
<body>
<div style="padding:100px; float:Right width:50%; background-color:white;" class="container">
   <h1>Welcome</h1>
    <p>Hi Guest,
    Welcome to our HR Administrative site you can use our site for create employee profile and for sending offer letters / documents to the candidates
    </p>
        <p>1) Offer Letter Automation</p>
        <p>2) Payroll Management</p>
        <p>2) Contract Management</p>
        <p>2) Offer Confirmations</p>

  </div>

</body>
</html>